
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input name="NameUser" type="text" placeholder="Ingrese su Usuario" />
            <input type="password" placeholder="Password" />
            <input type="submit" value="Login" />
        }
    </div>
</body>
</html>
